body {
  width: 300px; /* Adjust the width as needed */
  height: max-content;
}

.extensionTitle {
  text-align: center;
  font-size: 20px;
}

a {
  color: #ffffff; /* You can choose any color you prefer */
  text-decoration: none; /* Remove underlines from anchor links */
}

.signature {
  text-align: center;
  font-size: 14px; /* Adjust the font size as needed */
  margin-top: 10px;
  color: #0656b3; /* You can choose your preferred color */
  font-family: "Pacifico"; /* Replace "YourStylishFont" with the actual font name */
  /* Add any additional font styles here, such as letter spacing or text shadow */
}

/* Styling for the loading container */
.loading-container {
  display: none;
  text-align: center;
  padding: 20px;
}

.loader {
  border: 4px solid #f3f3f3; /* Light gray border */
  border-top: 4px solid #3498db; /* Blue border */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite; /* Spin animation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Styling for the short URL container */
.short-url-container {
  text-align: center;
  font-size: 16px;
  background-color: #3498db; /* Blue background */
  color: #fff; /* White text color */
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}

/* Styling for the Copy button */
.copy-button {
  display: none;
  background-color: #4caf50; /* Green background */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.copy-button:hover {
  background-color: #45a049; /* Darker green on hover */
}
